:root{
    --color--boton1:#0A3871;
    --color--boton2:#D8DFE8;
    --background--color:#F3F5FC;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr 0.5fr;
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: 
    "caja caja   cuadro  cuadro"
    "caja caja  cuadro  cuadro"
    "caja caja  cuadro  cuadro"
    ;
    height: 100vh;
    background: var(--background--color);
    width: 100%;
}
.area{
    grid-area: caja;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 4rem;
}
.contenedor-logo{
    position: relative;
    width: 100%;
    height: 8rem;
}
h1{
    width: 120px;
    height: 48px;
    position: absolute;
    top: 40px;
    left: 40px;
}
.logo{
    width: auto;
    height: auto;
}
.area .box{
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-top: 1rem;
}
.box .textarea{
    background: none;
    font-size: 26px;
    border: none;
    padding:0 4rem;
    overflow-x:hidden;
    resize: none;
    width: 85%;
    height: 100%;
}
.box .textarea:focus{
    outline: none;
}
/*area botones*/
.area .botones{
    padding: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}
.contenedor-boton{
    margin-top: 0.5rem;
}
.contenedor-boton p{
    margin-bottom: 0.5rem;
    font-size: 16px;
    width: 100%;
}
.contenedor-boton p img{
    width: 16px;
}
.contenedor-boton .btn{
    background-color: var(--color--boton1);
    width: 328px;
    height: 67px;
    color: #fff;
    border: none;
    border-radius: 24px;
    margin-top: 0.2rem;
}
.contenedor-boton .btn:first-child{
    margin-right: 1.2rem;
}
.contenedor-boton .btn:last-child{
    background-color: var(--color--boton2);
    border: 1px solid var(--color--boton1);
    color: var(--color--boton1);
}
.contenedor-boton .btn:hover{
    cursor: pointer;
}
/* area del rectangulo */
.rectangulo{
    grid-area: cuadro;
    padding: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rectangulo .cripto{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 32px;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow-x: hidden;
}
.cripto .muñeco{
    width: 336px;
    height: 304px;
}
.cripto .textos{
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.textos .mensaje{
    font-size: 24px;
    font-weight: bold;
}
.textos p{
    font-size: 16px;
    margin-top: 1rem;
}
.textos-2{
    width: 100%;
    overflow-y: hidden;
    text-align: center;
}
.textos-2 .texto-cripto{
    font-size: 19px;
}
#copiar{
    position: absolute;
    background-color: var(--color--boton2);
    width: 336px;
    padding: 1.5rem;
    color: var(--color--boton1);
    border: 1px solid var(--color--boton1);
    border-radius: 24px;
    display: none;
    bottom: 4rem;
}

#copiar:hover{
    cursor: pointer;
}

@media(max-width:858px){
    main{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "caja caja   caja  "
        "caja caja  caja  "
        "cuadro cuadro  cuadro  "
        ;
    }
    .contenedor-logo{
        height: 20rem;
    }
    h1{
        width: 31px;
        height: 50px;
    }
    .box .textarea{
        width: 83%;
    }
    .contenedor-boton{
        margin-top: 0.5rem;
        width: 688px;
    }
    .contenedor-boton .btn{
        width: 332px;
    }
    .rectangulo .cripto{
        height: 80%;
    }
    .cripto .muñeco{
        display: none;
    }
    .cripto .textos{
        overflow-y: scroll;
    }
    #copiar{
        width: 90%;
        bottom:0;
        padding: 0.8rem;
    }
}

@media(max-width:658px){
    main{
        grid-template-columns: 1fr 1fr ;
        grid-template-areas: 
        "caja caja"
        "caja caja"
        "cuadro cuadro "
        ;
    }
    h1{
        width: 32px;
        height: 48px;
        top: 24px;
        left: 16px;
    }
    .area{
        height: 500px;
    }
    .box .textarea{
        width: 99%;
        padding: 0 1rem;
    }
    .contenedor-boton{
        margin-top: 0.5rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .contenedor-boton .btn{
        width: 343px;
        margin-top: 1rem;
    }
    .rectangulo{
        height: 150px;
    }
    .rectangulo .cripto{
        height: 100%;
    }
}